<h1><%= @page_title %></h1>

<a href="/directors">Go back</a>

<% if @the_youngest.present? %>
  <p>The youngest director in our dataset right now is <%= link_to @the_youngest.name, director_path(@the_director) %>, born on <%= @the_youngest.dob.strftime("%B %d, %Y") %>.</p>

<% elsif @the_oldest.present? %>
  <p>The oldest director in our dataset right now is <%= @the_oldest.name %>, born on <%= @the_oldest.dob.strftime("%B %d, %Y") %>.</p>
<% end %>
